
    // // blue
    // 100: "#d3d4de",
    // 200: "#a6a9be",
    // 300: "#7a7f9d",
    // 400: "#4d547d",
    // 500: "#21295c",
    // 600: "#191F45", // manually adjusted
    // 700: "#141937",
    // 800: "#0d1025",
    // 900: "#070812",

    $colour-blue-light: #7a7f9d;
    $colour-blue-medium: #191F45;
    $colour-blue-dark: #0d1025;

    $colour-yellow-light: #ffe3a3;
    $colour-yellow-medium: white;
    $colour-yellow-dark: #665429;

    $colour-grey-light: #EDEDED;
    $colour-grey-medium: white;
    $colour-grey-dark: #665429;


    // // yellow
    // 50: "#f0f0f0", // manually adjusted
    // 100: "#fff6e0",
    // 200: "#ffedc2",
    // 300: "#ffe3a3",
    // 400: "#ffda85",
    // 500: "#ffd166",
    // 600: "#cca752",
    // 700: "#997d3d",
    // 800: "#665429",
    // 900: "#332a14"