@import './styles/shared/colours';
@import './styles/shared/keyframes';

.section__container {
    margin: 2rem 0rem;
    border: $colour-grey-light solid 2px;
    width: auto;
    background-color: $colour-blue-medium;
    position: relative;
    .section__content {
        padding: 3rem 3vw;
        color: $colour-grey-light;
        background-color: $colour-blue-medium;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        .section__info__button__container {
            position: absolute;
            top: 1rem;
            right: 2vw;
            z-index: 3;
            .info__button {
                cursor: pointer;
            }
        }
        .section__info__container {
            position: absolute;
            z-index: 3;
            top: -12rem;
            right: 6vw;
            border: solid 2px $colour-blue-light;
            padding: 1rem 2vw;
            background-color: $colour-grey-light;
            color: $colour-blue-medium;
            animation: fading-in forwards linear 0.5s;
        }
        .section__header__container {
            width: 100%;
            align-items: center;
            margin-bottom: 2rem;
            .section__header {
                text-align: center;
                margin: 0;
            }
        }
    }
    .formula__input__add__outer {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid $colour-blue-light;
        margin: 1rem 0rem;
        box-sizing: border-box;
        .formula__input__add__inner {
            margin: 1rem auto;
            .formula__input__add__icon {
                color: $colour-grey-light;
                cursor: pointer;
            }  
            .formula__input__add__icon:hover {
                opacity: 0.5;
                animation: fade 0.2s linear;
            }          
        }
    }
}

.formula__controls__container__inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    .input__container {
        border: solid 2px $colour-blue-light;
        width: auto;
        margin: auto 0;
        overflow: hidden;
    }
}


@media(max-width: 56rem){
    .formula__controls__container__inputs {
        flex-direction: column;
    }
    .formula__input__add__outer {
        width: 100% !important;
    }
}
